/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole tickt */

#ticket {
    margin: 0 auto;
    text-align: center;
}

p{
    text-align: center;
}

#txt {
    margin-top: 10px;
    max-width: 60%;
    margin: 0 auto;
    background-color: grey;
    padding: 25px 50px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: 2.5rem;
}

#txt span {
    color: black;
}